@media only screen and (max-width: 992px){
    .main_header_info>.autor_title{
        display: none;
    }
    .main_header_info>.first_content{
        display: none;
    }
    .main_header_info>.second_content{
        height: 318px;
        width: 248px;
    }
    .main_news>.main_news_container>.slider>.item>.item_inner>.img_block>img{
        width: 360px;
    }
    .slider>.item {
        margin-left: 60px;
     }
    .ru{
        margin-top: 37px;
    }
}
@media only screen and (max-width: 768px){
    body{
        margin: 0 40px;
    }
}
@media only screen and (max-width: 414px){
    
}